*.dat filter=lfs diff=lfs merge=lfs -text
data/DBLP/node.dat filter=lfs diff=lfs merge=lfs -text
data/IMDB/node.dat filter=lfs diff=lfs merge=lfs -text
data/**/*.dat filter=lfs diff=lfs merge=lfs -text
